@use "../var";

.container {
  @include var.page-container;
  box-sizing: border-box;
  overflow: hidden;
  background-color: var.$gray;
  // background-image: url("../images/tile.png");
  // background-size: 50vmin;
  // background-repeat: repeat;
  background-image: url("../images/dirty.png");
  background-size: 50vmin;
  background-repeat: no-repeat;
  background-size: cover;

  .canvas {
    touch-action: none;
  }

  .console {
    cursor: auto;
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    // @include var.fullVw;
    top: 3rem;
    left: 0;
    background-color: var.$white;

    .description {
      word-break: keep-all;
      flex-grow: 1;
      justify-content: space-evenly;
      display: flex;
      flex-wrap: wrap;
      color: var.$black;
      font-weight: 700;
    }

    .toggle-debug {
      word-break: keep-all;

      color: var.$black;
      font-weight: 700;
      cursor: pointer;
      background-color: var.$white;
      border: none;
      border-right: 3px solid var.$gray;
      border-bottom: 3px solid var.$gray;
      padding: 0rem 2rem;

      &.active {
        color: var.$gray;
      }
    }
  }
}
