@use "../var";

.container {
  @include var.page-container;
  position: fixed;
  box-sizing: border-box;
  overflow: hidden;

  .canvas {
    touch-action: none;
    background-image: url("../images/tile.png");
    background-size: 50vmin;
    background-repeat: repeat;
  }
}
