$black: #161616;
$white: whitesmoke;
$gray: #cccccc;
$red: #ff3636;

@mixin fullVh {
  height: 100vh;
  height: 100dvh;
  @content;
}

@mixin fullVw {
  width: 100vw;
  width: 100dvw;
  @content;
}

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
  @content;
}

@mixin page-container {
  @include fullVw;
  @include fullVh {
    minheight: 500px;
  }
}
