$black: #161616;
$white: whitesmoke;
$gray: #cccccc;
$darkgray: #3f3f3f;
$red: #ff3636;

@mixin fullVh {
  height: calc(100vh - 3rem);
  height: calc(100dvh - 3rem);
  @content;
}

@mixin fullVw {
  width: 100vw;
  width: 100dvw;
  @content;
}

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
  @content;
}

@mixin page-container {
  @include fullVw {
    min-width: 350px;
  }
  @include fullVh {
  }
}
